<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nouvelle participation à votre événément : <%= @event.title %></h1>
    
    <p>Bonjour !</p>

    <p><%= @customer.email %> vient de s'inscrire à votre événement <%= @event.title %> qui aura lieu le <%= @event.start_date.strftime("%d/%m/%Y à %k:%M") %>
    </p>

    <p>Pour accéder à votre événement, c'est <%= link_to 'par ici', '#' %> !</p>
  </body>
</html>