<div class="row align-item-center justify-content-center pt-4 pb-4">
  <div class="col-sm-5 py-4">
    <div class="card">
      <h5 class="card-header">Modifier mes informations de profil</h5>
      <div class="card-body">
        <%= form_for(user, url: user_path(user), html: { method: :put }) do |f| %>
          <div class="form-group">
            <%= f.label :first_name, 'Prénom' %>
            <%= f.text_field :first_name, value: user.first_name, class: 'form-control m-2 ms-0' %>
          </div>
          <div class="form-group">
            <%= f.label :last_name, 'Nom' %>
            <%= f.text_field :last_name, value: user.last_name, class: 'form-control m-2 ms-0' %>
          </div>
          <div class="form-group">
            <%= f.label :description, 'Description' %>
            <%= f.text_area :description, value: user.description, class: 'form-control m-2 ms-0' %>
          </div>
          <div class="row">
            <%= f.label :profile_picture, 'Photo de profil' %>
            <div class="col">
              <% if user.profile_picture.attached? %>
                <%= image_tag user.profile_picture, alt: 'profile_picture' %>
              <% else %>
                <p>=== Il n'y a pas encore de photo de profil ===</p>
                <br/>
              <% end %>
            </div>
            <div class="form-group mt-2">
              <%= f.file_field :profile_picture, direct_upload: true, multipart: true %>
            </div>
          </div>
          <%= f.submit "Confirmer les modifications", class: 'btn btn-primary m-3 ms-0' %>
        <% end %>
      </div>
    </div>
  </div>
</div>