<!-- Edit profile info -->
<div class="row align-item-center justify-content-center pt-4 pb-4">
  <div class="col-sm-5 py-4">
    <div class="card">
      <h5 class="card-header">Modifier mes informations de profil</h5>
      <div class="card-body">
        <%= form_for(@user, url: user_path(@user), html: { method: :put }) do |f| %>
          <div class="form-floating">
            <%= f.text_field :first_name, value: @user.first_name, class: 'form-control m-2 ms-0' %>
            <%= f.label :first_name, 'Prénom' %>
          </div>
          <div class="form-floating">
            <%= f.text_field :last_name, value: @user.last_name, class: 'form-control m-2 ms-0' %>
            <%= f.label :last_name, 'Nom' %>
          </div>
          <div class="form-floating">
            <%= f.text_area :description, value: @user.description, class: 'form-control m-2 ms-0' %>
            <%= f.label :description, 'Description' %>
          </div>
          <%= f.submit "Confirmer les modifications", class: 'btn btn-primary m-3 ms-0' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-5 py-4">
    <div class="card">
      <h5 class="card-header">Modifier ma photo de profil</h5>
      <div class="card-body">
        <%if @user.profile_picture.attached?%>
          <%= image_tag @user.profile_picture, alt: 'profile_picture' %>
        <%else%>
          <p>=== Il n'y a pas encore de photo de profil ===</p>
        <% end %>
        <br/>
        <%= form_tag user_profile_pictures_path(@user), multipart: true do %>
          <%= file_field_tag :profile_picture %>
          <%= submit_tag "Mettre à jour ma photo de profil" %>
        <% end %>
      </div>
    </div>
  </div>
</div>