<!-- Profile info -->
<div class="row align-item-center justify-content-center pt-4">
  <div class="col-sm-5 py-4">
    <div class="card">
      <h5 class="card-header">Mes informations</h5>
      <div class="card-body">
        <p class="card-text">Prénom : <%=@user.first_name%></p>
        <p class="card-text">Nom : <%=@user.last_name%></p>
        <p class="card-text">Description : <%=@user.description%></p>
        <p class="card-text">Email : <%=@user.email%></p>
        <p><a><%= link_to "Modifier mes informations de profil", edit_user_path(@user.id), class: "btn btn-primary" %></a></p>
        <p><a><%= link_to "Modifier mes informations de connexion", edit_user_registration_path, class: "btn btn-secondary" %></a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-5 py-4">
    <div class="card">
      <h5 class="card-header">Ma photo de profil</h5>
      <div class="card-body">
        <%if @user.profile_picture.attached?%>
          <%= image_tag @user.profile_picture, alt: 'profile_picture' %>
        <%else%>
          <p>=== Il n'y a pas encore de photo de profil ===</p>
          <h5 class="card-header">Modifier ma photo de profil</h5>
          <%= form_tag user_profile_pictures_path(@user), multipart: true do %>
            <%= file_field_tag :profile_picture %>
            <%= submit_tag "Ajouter une photo de profil" %>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
</div>
<br/><br/><br/>
<!-- Admin events -->
<div class="row align-item-center justify-content-center">
  <div class="col-sm-10">
    <div class="card">
      <h5 class="card-header">Mes évènements</h5>
      <div class="card-body">
        <div class="row card-deck justify-content-center">
          <% @events.each do |event| %>
            <div class="col-sm-5 mx-2 my-4">
              <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%=event.title%></h5>
                  <p class="card-text"><%=event.start_date%></p>
                  <p class="card-text"><%=event.price%>€</p>
                  <p><a><%= link_to "En savoir plus", event_path(event.id), class: "btn btn-link" %></a></p>
                  <p><a><%= link_to "Voir la liste des participants", event_attendances_path(event.id), class: "btn btn-info" %></a></p>
                  <p><a><%= link_to "Modifier l'évènement", edit_event_path(event.id), class: "btn btn-warning" %></a></p>
                  <p><a><%= link_to "Supprimer l'évènement", event_path(event.id), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %></a></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br/><br/><br/>
