<div class="row align-item-center justify-content-center text-center my-4">
  <h2>Bienvenue dans ton espace évènement : <%= @event.title %></h2>
</div>
<!-- Edit event info -->
<div class="row align-item-center justify-content-center pb-4">
  <div class="col-sm-5 py-4">
    <div class="card">
      <h5 class="card-header">Modifier les informations sur l'évènement</h5>
      <div class="card-body">
        <%= form_for(@event, url: event_path(@event), html: { method: :put }) do |f| %>
          <div class="form-group mb-4">
            <%= f.label :title, 'Titre' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :description, 'Description' %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :location, "Localisation" %>
            <%= f.text_field :location, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :start_date, "Date" %><br/>
            <%= f.date_field :start_date, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :duration, "Durée de l'évènement (en minutes)" %>
            <%= f.number_field :duration, in: 15..210, step: 15, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :price, "Prix par entrée (en €)" %>
            <%= f.number_field :price, in: 5..1000, step: 5, class: 'form-control' %>
          </div>
          <%= f.submit "Modifier l'évènement", class: 'btn btn-primary' %>
        <% end %>
        <div class="my-4">
          <a><%= link_to "Supprimer l'évènement", event_path(@event.id), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit event-picture -->
  <div class="col-sm-5 py-4">
    <div class="card">
      <h5 class="card-header">Modifier la photo de l'évènement</h5>
      <div class="card-body">
        <%if @event.event_picture.attached?%>
          <%= image_tag @event.event_picture, alt: 'event_picture' %>
        <%else%>
          <p>=== Il n'y a pas encore de photo ===</p>
        <% end %>
        <br/>
        <%= form_tag event_event_pictures_path(@event), multipart: true do %>
          <%= file_field_tag :event_picture %>
          <%= submit_tag "Envoyer l'image" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Attendees -->
<div class="row justify-content-center mb-4">
  <div class="col-10 py-4">
    <div class="card">
      <h5 class="card-header">Liste des participants</h5>
      <div class="card-body">
        <% if @event.customers.count == 0 %>
          <h5>Aucune personne n'est inscrite pour le moment</h5>
        <% else %>
        <% @event.customers.each do |customer|%>
          <div class="row">
            <div class="col">
              <%= customer.first_name %> <%= customer.last_name %>
            </div>
            <div class="col">
              <%= customer.email %>
            </div>
          </div>
          <hr>
        <% end %> 
      </div>
    </div>
    <% end %>
    <br><br>
    <%= link_to "Retour", :back, class: "btn btn-info" %>
  </div>
</div>