<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-center">
          <h1 class="display-5 fw-bolder text-white mb-2">Bienvenue sur Eventbrite, toi qui adore sortir.</h1>
          <p class="lead fw-normal text-white-50 mb-4">Retrouve ici les meilleurs évènements de ta région et partage les tiens !</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#events">Voir les évènements</a>
            <a><%= link_to "Créer un évènement", new_event_path, class: "btn btn-outline-light btn-lg px-4", role: "button" %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Events list -->
<section class="py-5" id="events">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="text-center">
          <h2 class="fw-bolder">La crème de la crème</h2>
          <p class="lead fw-normal text-muted mb-5">Les meilleurs évènements près de chez toi, ici, maintenant. A découvrir d'urgence !</p>
        </div>
      </div>
    </div>
    <div class="row gx-5">
      <% @events.each do |event| %>
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <%if event.event_picture.attached?%>
              <%= image_tag event.event_picture, alt: 'event_picture', class: "card-img-top" %>
            <% else %>
              <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
            <% end %>
            <div class="card-body p-4">
              <div class="badge bg-primary bg-gradient rounded-pill mb-2"><%=event.price%>€</div>
              <a <%= link_to "", event_path(event.id), class:"text-decoration-none link-dark stretched-link" %>><h5 class="card-title mb-3"><%=event.title%></h5></a>
              <p class="card-text mb-0">A lieu le <%=event.start_date.strftime("%d/%m/%Y")%></p>
              <p class="card-text mb-0">Durée : <%=event.duration%> minutes</p>
              <p class="card-text mb-0">Ville : <%=event.location%></p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                  <div class="small">
                    <div class="fw-bold">By <%=event.admin.email%></div>
                    <div class="text-muted"><%=event.customers.count%> inscrits</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
            
