<!-- Event form -->
<div class="row align-item-center justify-content-center mt-4 mb-4">
  <div class="col-sm-6">
    <div class="card">
      <h5 class="card-header text-center">Créer un évènement 😎</h5>
      <div class="card-body">
        <%= form_for(@event, url: events_path, html: { method: :post }) do |f| %>
          <div class="form-group mb-4">
            <%= f.label :title, 'Titre' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :description, 'Description' %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :location, "Localisation" %>
            <%= f.text_field :location, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :start_date, "Date" %><br/>
            <%= f.date_field :start_date, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :duration, "Durée de l'évènement (en minutes)" %>
            <%= f.number_field :duration, in: 15..210, step: 15, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :price, "Prix par entrée (en €)" %>
            <%= f.number_field :price, in: 5..1000, step: 5, class: 'form-control' %>
          </div>
          <%= f.submit "Créer l'évènement", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>