<!-- Alerts / Flash messages -->
<% flash.each do |key, msg| %>
  <br/><br/><br/>
  <div class="alert alert-<%=key%> text-center" role="alert">
    <%= msg %>
  </div>
<% end %>
<!-- Event form -->
<div class="row align-item-center justify-content-center mt-4">
  <div class="col-sm-10">
    <div class="card">
      <h5 class="card-header">Créer un évènement</h5>
      <div class="card-body">
        <form>
        <%= form_for(:event, url: events_path, html: { method: :post }) do |f| %>
          <div class="form-group mb-4">
            <%= f.label :title, 'Titre' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :description, 'Description' %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :location, "Localisation" %>
            <%= f.text_field :location, class: 'form-control' %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :start_date, "Date" %><br/>
            <%= f.datetime_select :start_date, { ampm: false, order: [:day, :month, :year, :hour, :minute] } %>
          </div>
          <div class="form-group mb-4">
            <%= f.label :duration, "Durée de l'évènement :" %>
            <%= f.select :duration, options_for_select(@durations_array), class: 'form-control' %> minutes.
          </div>
          <div class="form-group mb-4">
            <%= f.label :price, "Prix par personne" %>
            <%= f.text_field :price, class: 'form-control' %>
          </div>
          <%= f.submit "Créer l'évènement", class: 'btn btn-primary' %>
        <% end %>
        </form>
      </div>
    </div>
  </div>
</div>