<div class="container w-50">

  <h2 class="my-5 text-center" > Mettre à jour ses infos personnelles ✍️</h2>

  <%= form_for @user, url: admin_user_path(@user) do |f| %>

    <div class="form-group">
      <label>Son prénom</label>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Son nom</label>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Sa description</label>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <br><br>

    <div class="form-group">
      <label>Ajouter ou modifier une photo</label>
      <br>
      <%= f.file_field :avatar, direct_upload: true, accept: "image/png,image/gif,image/jpeg" %>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Mettre à jour les infos</button>
    </div>

  <% end %>

  <br><br>

  <%= link_to "Supprimer son compte", admin_user_path(@user), class: "btn btn-outline-danger m-2", method: "DELETE", data: {confirm: "Êtes-vous sûr(e) ? :'("} %>

  <br><br>

  <%= link_to  "Revenir à son profil", admin_user_path(@user), class: "btn btn-info" %>
  
</div>